.DS_Store
.dart_tool/
.vscode/
.idea/

.pub/

build/

package_config.json
# Files and directories created by pub
.packages
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock